* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;}

a {
    text-decoration: none;
    color: inherit;
}
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    gap: 42px;
    padding: 76px 15%;
}

.header, .body, .call-to-action, .footer {
    padding: 36px 15%;
}
.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 12px;
}

.body {
    background-color: white;
    color:#1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

button {
background-color: #3882f6;
color: #F9FAF8;
padding: 8px 32px;
border-radius: 8px;
}

.body-header {
    margin-bottom: 24px;
}

.block {
    max-width: 200px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.body-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;

}

.text {
    color: #1f2937;
    font-size: 12px;
}

img {
    max-width: 100%;
    height: auto;
}

.cat {
    border: 3px solid #3882f6;
    border-radius: 8px;
}
.logo {
    font-weight:900;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 25%;
    display: flex;
    flex-direction: column;
}


.italic {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
    margin-bottom: 12px;
}

.author {
align-self: flex-end;
font-size: 20px;
font-weight: bold;
font-style: normal;
margin-right: 15%;
}

.call-to-action {
    margin-top: 42px;
    margin-bottom: 42px;
}
.call-to-action-two {
    display: flex;
    background-color: #3882f6;
    padding: 36px 96px;
    justify-content: space-between;
    gap: 24px;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 22px;
    font-weight: 600;
}

.call-to-action-two .button{
    border: 2px solid #F9FAF8;
}

.subtext {
    font-size: 16px;
    font-weight: 300;
    color: #E5E7EB;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    font-size: 11px;
}